@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  tab-size: 4;
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
  --textColor: #979797;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, 0.3);
  --borderOff: hsla(228, 7%, 87%, 0.5);
  --offText: rgba(0, 0, 0, 0.5);
  --bgOffset: #f4f4f4;
  --placeHolder: #979797;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, 0.07);
  --offBlueTran: rgba(223, 227, 255, 0.3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, 0.5);
  --ctaOffBlue: rgba(64, 25, 109, 0.3);
  --overlay: rgba(64, 25, 109, 0.2);
  --successColorTrans: #dcffec;
  .color-black {
    color: var(--blackColor);
    font-size: 1.5625rem;
    line-height: 2rem;
  }
}
* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  a{
    font-size: 1.3rem;
  }
}
body {
  font-family: "Mulish", sans-serif;
}
/* header styling*/
    .navbar {
        position: fixed;
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .add{
        display: none;
    }  
      .logo {
        display: flex;
        gap: 5em;
      }
      .nav-links-wraper{
        display: flex;
        justify-content: flex-end;
        gap: 50px;
      }
      .nav-links {
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }
      
      .nav-links li {
        margin-right: 3.125rem;
      }
      
      .nav-links a {
        text-decoration: none;
        color: var(--primaryColor);
        font-weight: bold;
        transition: color 0.3s;
      }
      
      .nav-links a:hover {
        color: #0073e6;
      }
      
      .auth-buttons {
        display: flex;
        align-items: center;
      }
      
      .auth-buttons .sign-in {
        margin-right: 20px;
        text-decoration: none;
        color: var(--primaryColor);
        font-weight: bold;
      }
      
      .auth-buttons .join-kuda {
        text-decoration: none;
        color: #fff;
        background-color: var(--primaryColor);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: 1s;
      }
      
      .auth-buttons .join-kuda:hover {
        background-color: #005bb5;
        transform: translateY(-10px);
      }

main {
  color: var(--textColor);
  margin: auto;
  width: 100%;
  padding: 40px 6.25rem 0 100px;
  transform: translateY(0) !important;
}
section {
  /* padding: 10%; */
  gap: 20em;
  max-width: 100%;
  width: 100%;
  font: inherit;
  margin-top: 12.5%;
}
.div-wrapper{
  display: flex;
  gap: 3.125rem;
}
.image-content{
  padding: .625rem;
    max-width: 55%;
}
.text-content {
  padding: .625rem;
    max-width: 45%;
    width: 100%;
    flex-wrap: wrap;
    :nth-child(1) {
      color: var(--primaryColor);
      font-weight: 900;
      font-size: 2.25rem;
    }
    .join-kuda-link,
    p {
      margin: 20px 0;
    }
  }
  /* **image container** */
  .image-content{
    max-width: 55%;
    width: 100%;
  }
  .side-img{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    }
    /* cards */
    .div-wrapper2{
      display: flex;
      gap: .625rem;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3.125rem;
    }
    .card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: calc(33% - 40px);
      box-sizing: border-box;
      text-align: justify;
      transition: box-shadow 0.3s;
    }
    .card-icon {
      font-size: 1.5625rem;
      margin-bottom: 0.325rem;
      color: var(--primaryAlt);
    }
    .card h3 {
      font-size: 14px;
      color: var(--primaryColor);
    }
/* cokies */
.cokies {
  position: fixed;
  display: flex;
  top: 85%;
  left: 30%;
  width: 40%;
  align-items: center !important;
  background: #fbfbfb;
  border: 1px solid #dfe3ff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 8px;
  font-weight: bold;
  p {
    font-size: 12px;
  }
  a:not(:first-child) {
    margin-left: auto;
    margin-right: 20px;
    background: #a4caf0;
    color: rgb(24, 3, 49);
    text-decoration: none;
    padding: 8px;
    font-size: 13px;
    border-radius: 8px;
    transition: color 0.3s;
  }
  a:hover {
    color: #005bb5;
  }
}
.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* open account */
.div-wrapper3{
  display: flex;
  gap: 3.125rem;
}




.open-acount {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  justify-content: space-between;
  /* margin: 4.375rem 8.125rem 4em 8.125rem; */
  padding: 4.375rem 2.5rem 3.9375rem 2.5rem;
  .open-text p {
    width: 50%;
    flex-wrap: wrap;
  }
}
.open-text span {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: var(--primaryColor);
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 1.38;
}

/* last section and FOOter */
.content {
  background-color: #fff;
  /* margin: 4.375rem 8.125rem 4em 8.125rem; */
  padding: 4.375rem 2.5rem 3.9375rem 2.5rem;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  min-width: 200px;
  margin: 0 20px;
}

.column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--primaryColor);
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.column ul li a:hover {
  color: #0073e6;
}

.footer-content {
  line-height: 30px;
  max-width: 1200px;
  /* margin: 4.375rem 8.125rem 4em 8.125rem; */
  padding: 4.375rem 2.5rem 3.9375rem 2.5rem;
  text-align: center;
}

.app-links {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

.app-links a {
  margin: 0 10px;
}

.app-links img {
  height: 40px;
}

.disclaimer {
  margin: 20px 0;
  font-size: 14px;
  color: #666;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  /* flex: 1 0 140px; */
}

.contact-item {
  /* flex-wrap: wrap; */
  text-wrap: wrap;
  max-width: 125.7px;
  /* margin: 10px 0px; */
  color: var(--primaryAlt);
}

.contact-item h5 {
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-item p,
.contact-item a {
  font-size: 14px;
  color: rgb(18, 18, 19);
  text-decoration: none;
  a {
    color: var(--primaryAlt);
  }
}

.contact-item a:hover {
  color: #0073e6;
}

.social-links {
  display: flex;
  margin-top: 10px;
}

.social-links a {
  margin-right: 10px;
}

.social-links a {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 12px;
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  transition: color 0.3s, background-color 0.3s;
}

.social-links a:hover {
  color: #fff;
  background-color: #0073e6; /* Change this color as per your brand */
}
.conditions {
  text-align: justify;
  font-size: 0.875rem;
  color: var(--textColor);
}

.kuda-cookie {
  font: inherit;
}
/* ********************** */
/* Auth buttons */
.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--fa-primary-color);
}

/* Hamburger menu icon */
.menu-toggle, .hamburger {
    display: none;
    cursor: pointer;
}

.menu-toggle i {
    font-size: 24px;
}
.dropdown-logo{
        display: none;
    }
/* Responsive Styles */    
    .testimonial-header {
      margin-bottom: 5rem;
    text-align: center;
    color: var(--fa-primary-color);
    font-weight: 700;
    font-size: 40px;
}

.testimonial .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
}

.testimonials .card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b2e83;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.name {
    font-weight: 600;
}

.partners .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.partners .logos img {
    margin: 10px 20px;
    max-width: 100px;
}
/* ************************ */
.comparison-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.comparison-table {
    width: 100%;
    flex-direction: column;
    max-width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
}

.comparison-table .header {
    display: flex;
    font-size: 40px;
    color:var(--primaryAlt);
    font-weight: 700;
  }
  h1{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: var(--primaryAlt);
  }

.comparison-table .header .column {
    flex: 1;
    text-align: center;
    padding: 15px;
}

.comparison-table .row {
    display: flex;
    border-bottom: 1px solid #eee;
}

.comparison-table .row:last-child {
    border-bottom: none;
}

.comparison-table .cell {
    flex: 1;
    text-align: justify;
    padding: 15px;
}

.comparison-table .cell.feature {
    
}

/* ********************* */
@media screen and (max-width: 1024px) {
  .hero-text {
    flex-direction: column;
  }
}

@media (max-width: 1023px) {
    /* ************ */
    .navbar{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       background: #fff;
       z-index: 999;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 25px;
       transition: background 0.3s;
    }
   .navbar ul{
    height: 100vh;
   }
    .navbar li {
      /* padding: 0 30px; */
      line-height: 30px;
    }
    .nav-links,
    .auth-wraper {
        display: none;
    }
    .add{
       display: block;
    }
    .auth-buttons{
        position: absolute;
        right: 4.375rem;
    }
    .menu-toggle {
        display: block;
    }
    .dropdown-logo{
        display: flex;
    }

    .nav-links.active,
    .auth-buttons.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        text-align: justify;
        border-bottom: 1px solid ghostwhite;
        width: 100%;
        line-height: 3em !important;

    }
    ul {
      display: flex;
    }
/* ******************* */
.navbar{
    top:9%;
    }
    .cokies p, a{
      font-size: 17px;
      
    }
    .cokies{
      position: fixed;
      z-index: 3000;
    border: none;
    width: 100%;
    left: 0;
    padding: 20px 0;
    margin:0;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    main{
    padding: 40px 10px 0 10px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    }
    .kuda-section {
      max-width: 100%;
        display: flex;
        gap: 1.25rem;
        margin-top: 10em;
        justify-content: center;
      }
      .div-wrapper{
        justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .text-content {
    text-align: center;
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    :nth-child(1) {
    color: var(--primaryColor);
    font-weight: 800;
    font-size: 2rem;
    }
    .join-kuda{
        max-width: 50px;
        height: 10%;
    }
    .join-kuda-link,
    p {
        font-size: 1.2em;
    }
    }
    .image-content{
      max-width: 100%;
    }
    .side-img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 80%;
    margin: 0 auto;
    }
    /* cards  */
    .div-wrapper2{
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .div-wrapper3{
      justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
    .card{
      max-width: 100%;
      width: 100%;
    }
    .testimonial{
      flex-direction: column;
      h3{
        margin-bottom: 1.25rem;
        color: var(--primaryColor) !important;
      }
    }
    /* nav */
   
    /* ** */
   
    .comparison-table .row, .comparison-table .header {
        flex-direction: column;
    }
    .comparison-table .cell, .comparison-table .header .column {
        padding: 10px;
        text-align: left;
    }

    .comparison-table .cell.feature {
        text-align: center;
    }
    .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 30px;
                height: 25px;
                cursor: pointer;
            }
    
            .hamburger span {
                background-color: #333;
                height: 3px;
                border-radius: 2px;
                width: 100%;
                transition: 0.3s;
            }
            .card {
              width: calc(50% - 40px);
            }
 

}  
@media (max-width: 480px) {
  .card {
    width: calc(100% - 40px);
  }
}
